.side-nav{
    background-color: black;
    overflow-y: scroll;
}
.button-collapse{
    background-color: red;
    border-radius: 50%;
    width: 5em;
    z-index: 11;
}
body a.button-collapse {
    position: fixed;
    left: 1vmin;
    top:1vmin;
}
.makerName{
    font-size: 1em;
}
.slider{
    z-index: -1;
}
#slider{
    position: fixed;
}
.nav-tabs, .nav-pills {
    text-align:center;
}
h2{
    font-size: 2em;
    color: white;
    font-family: 'Righteous', cursive;
}
p, .makerInfo{
    font-family: 'Fira Mono', monospace;
    font-size:15px;
    color: white;
}
a{
    font-family: 'Fira Mono', monospace;
}
ol{
    font-family: 'Fira Mono', monospace;
    font-size:15px;
    list-style-type: disc;
    color: white;
}
h1{
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: black;
}
#courses, #perks, #hobbies{
    position: relative;
    display: none;
    z-index: 5;
}
#optional, #miscellaneous , #plugin , #languages, #pro, #degrees{
    display: none;
}
.progress.progress-striped.active{
    display: flex;
    width: 250px;
}
.toggeable, #course, #perk, #hobby{
    color: red;
}
.toggeable:hover, #course:hover, #perk:hover, #hobby:hover{
    color: white;
}
.section{
    width: auto;
    position: absolute;
    bottom: 1%;
    text-align: center;
    padding: 1%;
    margin-top: 3%;
    opacity: 0.8
}
.section p h2 ol li{
    opacity: 1 !important;
}
#perks{
    width: auto;
}
.modal-content{
    height: auto;
    text-align: center;
    opacity: 1;
}
.score{
    font-size: 1.6em;
    color: black;
}
#opquast{
    color: green;
}
.close{
    float: right;
    color: grey;
}
@keyframes "rotate_earth" {
    0% {
        background-position: 0px -2px;
    }
    50% {
        background-position: 205px -2px;
    }
    100% {
        background-position: 410px -2px;
    }

}

@-moz-keyframes rotate_earth {
    0% {
        background-position: 0px -2px;
    }
    50% {
        background-position: 205px -2px;
    }
    100% {
        background-position: 410px -2px;
    }

}

@-webkit-keyframes "rotate_earth" {
    0% {
        background-position: 0px -2px;
    }
    50% {
        background-position: 205px -2px;
    }
    100% {
        background-position: 410px -2px;
    }

}

@-ms-keyframes "rotate_earth" {
    0% {
        background-position: 0px -2px;
    }
    50% {
        background-position: 205px -2px;
    }
    100% {
        background-position: 410px -2px;
    }

}

@-o-keyframes "rotate_earth" {
    0% {
        background-position: 0px -2px;
    }
    50% {
        background-position: 205px -2px;
    }
    100% {
        background-position: 410px -2px;
    }

}

body {
    background: #fff url("http://lab.legomushroom.com/___img/sky_star2.jpg") 0px 0px;

    -ms-overflow-x: hidden;
    overflow-x: hidden;
    margin: 0;

    -webkit-animation: sky 80s linear infinite;
    -moz-animation: sky 80s linear infinite;
    -ms-animation: sky 80s linear infinite;
    -o-animation: sky 80s linear infinite;
    animation: sky 80s linear infinite;
}

body div#earth_holder {

    position: static;
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-top: 11%;
}

body div#earth_holder div#earth {
    z-index: 2;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: url("http://lab.legomushroom.com/___img/11.jpg") 0px 0px;

    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    -moz-box-shadow: inset 1px -3px 14px rgba(0,0,0,0.60), inset 0 0 67px #000, inset 0 0 20px rgba(0,0,0,0.50), -400px -30px 130px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 1px -3px 14px rgba(0,0,0,0.60), inset 0 0 67px #000, inset 0 0 20px rgba(0,0,0,0.50), -400px -30px 130px rgba(0,0,0,0.50);
    box-shadow: inset 1px -3px 14px rgba(0,0,0,0.60), inset 0 0 67px #000, inset 0 0 20px rgba(0,0,0,0.50), -400px -30px 130px rgba(0,0,0,0.50);

    -webkit-animation: rotate_earth 40s linear infinite;
    -moz-animation: rotate_earth 40s linear infinite;
    -ms-animation: rotate_earth 40s linear infinite;
    -o-animation: rotate_earth 40s linear infinite;
    animation: rotate_earth 40s linear infinite;
}

body div#earth_holder div#earth_glow {
    z-index: 4;

    -webkit-box-shadow: 0 0px 19px rgba(79,156,201,0.80);
    box-shadow: 0 0px 19px rgba(79,156,201,0.80);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

body div#earth_holder div#earth_ball {
    z-index: 3;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
    filter: alpha(opacity=74);
    opacity: 0.74;

    -webkit-box-shadow: inset 40px -40px 80px #000, inset 20px -20px 100px #000;
    box-shadow: inset 40px -40px 80px #000, inset 20px -20px 100px #000;
}
@-moz-keyframes sky {
    50% {
        background-position: 318px 212px;
    }
    100% {
        background-position: 635px 423px;
    }

}

@-webkit-keyframes "sky" {
    50% {
        background-position: 318px 212px;
    }
    100% {
        background-position: 635px 423px;
    }

}

@-ms-keyframes "sky" {
    50% {
        background-position: 318px 212px;
    }
    100% {
        background-position: 635px 423px;
    }

}

@-o-keyframes "sky" {
    50% {
        background-position: 318px 212px;
    }
    100% {
        background-position: 635px 423px;
    }

}

